@import url(./normalize.css);
@import url("https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css");

$white: #fff;
$black: #000;
$bg-color: #f9f9f9;
$border-color: #777;
$theme-color: #2d9675;
$theme-food101: #ef2c2c;
$theme-data101: #f76d00;

// flexbox setting
%flex-start {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

%flex-end {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

%flex-between {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

%flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

%flex-evenly {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// initial setting
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans KR", sans-serif;

  font-size: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  margin: 0;
}

h2,
h3,
h4,
h5 {
  font-weight: lighter;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  border: 0;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

// header
.navbar {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  padding: 0 15px;

  background-color: $white;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  z-index: 10;
}

.flex-navbar {
  @extend %flex-evenly;
  justify-content: space-around;

  height: 100%;
}

.logo {
  width: 8rem;
  margin a {
    line-height: 90px;
  }

  a,
  img {
    width: 100%;
    display: block;
  }
}

.nav {
  position: relative;
  height: 100%;
  width: 60%;
}

.topnav {
  @extend %flex-center;
  color: $black;

  overflow: hidden;

  text-align: center;

  height: 100%;

  a {
    display: block;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
}

.dropdown {
  overflow: hidden;
  height: 100%;

  .dropbtn {
    display: flex;
    align-items: center;
    height: 100%;

    font-size: 20px;
    border: none;
    outline: none;

    color: $black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

    a {
      vertical-align: middle;
    }
  }

  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 90px;
  background-color: $white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);

  border-radius: 3px;
  z-index: 1;

  li {
    //border-bottom: solid 1px #f2f2f2;

    &:hover {
      background-color: #ddd;
    }
  }

  a {
    padding: 12px 16px;

    font-size: 16px;

    display: block;
    text-align: left;
  }
}

.menu-icon {
  display: none;
  font-size: 35px;
  //color: #fff;
  color: #000;
  margin: 0 auto;

  z-index: 5;
}

.sns-ico {
  @extend %flex-end;

  a {
    display: block;
    margin: 0.3rem;
  }
  img {
    width: 2.5rem;
    filter: invert(1);
  }
}

@media (max-width: 768px) {
  .topnav li,
  .dropdown .dropbtn {
    display: none;
  }

  .menu-icon {
    display: block;
    margin: 0 2vw;
  }

  .topnav.responsive {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    position: absolute;
    width: 100%;
    height: 250px;
    top: 90px;
    left: 0;
    padding: 0.3rem;

    background-color: #eee;

    overflow: visible;
  }

  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;

    a {
      display: block;
    }
  }
  .topnav.responsive .dropdown {
    overflow: unset;

    .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  .topnav.responsive .dropdown-content {
    width: 100%;

    left: 0;

    li {
      padding-left: 1rem;
    }
  }

  .topnav.responsive .dropdown-content.first {
    top: 60px;
  }

  .topnav.responsive .dropdown-content.second {
    top: 120px;
  }

  .topnav.responsive .dropdown-content.third {
    top: 180px;
  }

  .topnav.responsive .dropdown-content.fourth {
    top: 240px;
  }
}

@media (max-width: 992px) {
  .topnav {
    a {
      font-size: 20px;
    }
  }

  .logo {
    width: 6rem;
  }

  .dropdown-content {
    a {
      font-size: 15px;
    }
  }

  .sns-ico {
    img {
      width: 2.2rem;
    }
  }
}

/* 메인 페이지 */

//첫페이지, 형제 사이트 소개 페이지
section {
  width: 100%;

  &:nth-child(even) {
    background-color: #f5f5f5;
  }
}

.section {
  min-height: 70vh;
}

.main-sec {
  background: url(../img/bg-light.jpg) no-repeat;
  background-size: cover;
}

.main-page {
  height: 100%;
  width: 100%;

  margin: 0 auto;

  padding: 9vh 0 6vh;
}

.main-img {
  width: 100%;
  height: 328px;

  .slick-arrow {
    display: none !important;
  }
}

.main-box {
  width: 100%;

  //width: 33.33%;

  //background-repeat: no-repeat;
  //-position: 50% 50%;
  //background-size: cover;

  &.slick-slide {
    height: 80vh;
  }

  .typing-txt-wrap {
    width: 100%;
    height: 100%;

    padding: 4rem 8vw 0;

    //background-color: rgba($color: #000000, $alpha: 0.5);
  }
}

.typing-txt {
  font-size: 6.5vw;
  font-family: "NanumSquareBold", sans-serif !important;
  font-weight: bold;

  color: #222;
  display: none;

  li {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.typing {
  font-family: "NanumSquareBold", sans-serif !important;

  font-size: 6.5vw;
  color: #222;

  li {
    margin: 10px 0;
    font-weight: bold;
  }
}

.typing ul li.on {
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

@keyframes cursor {
  0% {
    border-right: 2px solid #fff;
  }
  50% {
    border-right: 2px solid #000;
  }
  100% {
    border-right: 2px solid #fff;
  }
}

.page-setting {
  position: relative;

  width: 100%;
  max-width: 1300px;
  height: 100%;
  padding: 9vh 6vw;
  margin: 0 auto;
}

.info-wrap {
  text-align: center;
  padding-top: 1rem;

  h4 {
    font-size: 4vw;
    line-height: 1.5;
    color: $border-color;
    font-weight: 400;
  }

  h3 {
    font-size: 8.1vw;
    line-height: 1.3;
    padding-top: 1.5rem;

    span {
      display: block;
    }
  }

  h2 {
    font-size: 10vw;
    padding-top: 1.5rem;
    color: #2d9675;
    font-weight: 500;
  }

  img {
    width: 50vw;
    padding-top: 1.5rem;
  }
}

.page-img {
  width: 74vw;
  margin: 4rem auto 2rem;

  img {
    width: 100%;
  }
}

.short-cut-btn {
  width: 74vw;

  margin: 0 auto;
}

.sns-btn {
  @extend %flex-center;
  width: 100%;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $theme-color;

    width: 3.5rem;
    height: 3.5rem;

    border: solid 1px $border-color;
    border-radius: 50%;

    margin: 0.5rem;

    img {
      filter: invert(1);

      width: 2rem;
      height: 2rem;
    }

    &:hover {
      background-color: #ddd;
    }
  }
}

.web-btn {
  @extend %flex-evenly;
  width: 100%;
  padding: 2rem 0;
}

.btn {
  width: 33vw;
  height: 3.5rem;

  border: solid 1px $border-color;
  border-radius: 3px;

  &:hover {
    background-color: #ddd;
  }

  a {
    display: block;

    width: 100%;
    height: 100%;

    font-size: 1.3rem;

    text-align: center;
    line-height: 3.2rem;
  }
}

.btn-close {
  &:hover {
    background-color: transparent;
  }
}

#data101 .sns-btn a img,
#food101 .sns-btn a img,
#payeat .sns-btn a img {
  filter: none;
}

#data101 .sns-btn a,
#food101 .sns-btn a:not(:nth-child(odd)),
#payeat .sns-btn a:not(:nth-child(-n + 2)) {
  background-color: $border-color !important;
  cursor: default;
}

@media (min-width: 500px) {
  .main-sec {
    height: 100vh;
  }

  .main-img {
    height: 600px;
  }

  .main-box {
    .typing-txt-wrap {
      padding: 10rem 0 0 14vw;
    }
  }

  .typing-txt {
    font-size: 6.5vw;

    font-weight: bold;

    li {
      span {
        display: none;
      }
    }
  }

  .typing {
    font-size: 6.5vw;

    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .main-sec {
    height: 99vh;
  }

  .info-wrap {
    h4 {
      font-size: 2rem;
    }
    h3 {
      font-size: 3.2rem;
    }

    h2 {
      font-size: 4rem;
    }
  }

  .typing-txt {
    font-family: "NanumSquare", sans-serif !important;
    font-size: 3rem;
    font-weight: bold;
  }

  .typing {
    font-family: "NanumSquare", sans-serif !important;
    font-size: 3rem;
    font-weight: bold;
  }
}

@media (min-width: 992px) {
  .page-setting,
  .info-wrap,
  .page-img,
  .short-cut-btn {
    &::after {
      content: " ";
      display: block;
      clear: both;
    }
  }

  #food101 {
    .info-wrap {
      float: left;
    }

    .page-img {
      float: right;
    }

    .short-cut-btn {
      float: left;
    }
  }

  .info-wrap {
    float: right;
    width: 45%;

    transform: translateY(6rem);
    transition: all 0.8s;

    h4 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 2.2rem;
      padding-top: 1rem;

      span {
        display: inline-block;
      }
    }

    h2 {
      font-size: 2.8rem;
      padding-bottom: 1.5rem;
    }

    img {
      width: 50%;
    }
  }

  .page-img {
    float: left;
    width: 45%;
    height: 100%;

    transform: translateY(6rem);
    transition: all 1s;
  }

  .short-cut-btn {
    float: right;
    width: 45%;

    transform: translateY(6rem);
    transition: all 1s;
  }

  .btn {
    margin-bottom: 1rem;
    width: 43%;
  }

  .typing-txt,
  .typing {
    font-size: 48px;
  }
}

@media (min-width: 1200px) {
  .typing-txt,
  .typing {
    font-size: 54px;
  }
}

// 소개페이지

.info-box-title {
  width: 100%;
  text-align: center;

  h2 {
    margin: 0 auto;

    font-size: 5.9vw;
    font-weight: normal;
    line-height: 1.3;
    padding-top: 1.5rem;

    span {
      display: inline-block;
    }

    strong {
      color: $theme-color;
    }
  }
}

.info-box-wrap {
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 2rem;

  transition: all 0.8s;
}

.info-box {
  width: 100%;
  text-align: center;

  margin: 2rem 0;

  img {
    width: 100px;
  }
}

.info-box-txt {
  padding: 0.8rem;

  text-align: center;

  h4 {
    font-size: 5vw;

    margin-bottom: 5vw;
    font-weight: 500;
  }

  p {
    font-size: 3.5vw;
    line-height: 1.5;
  }
}

//첫번째 배너

#banner {
  height: 395px;
}

.banner-box {
  width: 100%;
  height: 100%;
  background-image: url("../img/banner1.jpg");

  margin: 0 auto;

  text-align: center;

  box-sizing: border-box;

  h4 {
    @extend %flex-column;

    width: 100%;
    height: 100%;
    color: $white;
    font-size: 30px;
    font-weight: bolder;
    line-height: 50px;
  }
}

// 카운팅 페이지

.count-up {
  padding-top: 3.5vh;
}

.countup-title {
  h2 {
    font-size: 42px;
    font-weight: 500;
  }

  h3 {
    font-size: 22px;
    line-height: 1.3;
    padding-top: 1.5rem;

    font-weight: normal;
  }
}

.countup-main-wrap {
  margin: 100px 0;
  text-align: center;

  span {
    font-size: 50px;
  }

  .content-bar {
    width: 26px;
    height: 4px;
    background-color: #aaa;
    margin: 30px auto;
  }

  p {
    font-size: 3.5vw;
    margin-bottom: 3vw;
    line-height: 1.3;
  }
}

.countup-main {
  padding: 8vw 0;
}

@media (min-width: 500px) {
  .countup-title {
    h2 {
      font-size: 50px;
    }

    h3 {
      font-size: 32px;
    }
  }

  .countup-main-wrap {
    span {
      font-size: 78px;
    }
  }

  .banner-box {
    h4 {
      font-size: 35px;
    }
  }

  .info-box-txt {
    p {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 768px) {
  .info-box-title {
    h2 {
      font-size: 2.8rem;
    }
  }

  .info-box {
    img {
      width: 100px;
    }
  }

  .info-box-txt {
    h4 {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .countup-main-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .countup-main {
    width: 50%;

    padding: 10px 20px;

    p {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 992px) {
  .info-box-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .info-box {
    width: 33%;
  }

  .info-box-txt {
    h4 {
      font-size: 1.8rem;
      margin: 2rem 0;
    }

    p {
      height: 80px;
      font-size: 1.4vw;
    }
  }

  .banner-box {
    h4 {
      font-size: 50px;
      line-height: 78px;
    }

    .sm-p {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .info-box-txt {
    p {
      font-size: 1.1rem;
    }
  }

  .countup-main-wrap {
    margin: 100px 0 0;
  }

  .countup-main {
    width: 25%;

    span {
      font-size: 55px;
    }

    p {
      font-size: 1rem;
      margin: 0;
      height: 70px;
    }
  }
}

// 계열 사이트 소개 이후 페이지
//페이잇 스토리

.payeat-story {
  width: 100%;
}

.story-title {
  margin: 0 auto 2rem;

  h3 {
    text-align: center;

    font-size: 50px;

    font-family: "NanumSquareRound";
    font-weight: 500;
  }
}

.story-contents {
  padding-top: 70px;
  margin: -20px 0;
}

.story-box {
  position: relative;

  box-sizing: border-box;

  img {
    width: 100%;
    height: 300px;
    margin: 0 auto;

    object-fit: cover;
  }
}

.story-box.slick-current {
  .story-box-slide {
    background-color: $theme-color;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(51 51 51 / 60%);
  }

  .sbc-title {
    color: $white;
    border-bottom: 2px solid #fff;
  }

  p {
    color: #fff;
  }
}

.story-box-slide {
  padding: 55px 45px 45px 55px;
  height: 300px;
  width: 450px;
}

.sbc-title {
  font-size: 24px;

  font-weight: bold;

  border-bottom: 2px solid #5a5a5a;
  padding-bottom: 20px;

  line-height: 1.35;
  height: 100px;
  overflow: hidden;
  white-space: normal;
}

.sbc-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;

  -webkit-line-clamp: 4;

  line-height: 1.4;

  margin-top: 20px;
}

/* 좌우 이전 다음 아이콘 수정 */
.slick-arrow {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  font-size: 0;
  color: transparent;

  width: 50px;
  height: 50px;
  border: solid 2px #929292;
  transform: rotate(45deg);
}

.slick-prev {
  left: -44px;
  border-top: none;
  border-right: none;
}

.slick-next {
  right: -44px;
  border-bottom: none;
  border-left: none;
}

//두번째 배너

.last-box {
  width: 100%;
  height: 280px;

  background-image: url(../img/bg-low2.jpg);
  background-position: center center;
  object-fit: fill;
}

.box-opacity {
  width: 100%;
  height: 100%;

  background-color: rgba($color: #000000, $alpha: 0.8);

  color: $white;
}

.last-box-text {
  width: 70%;

  margin: 0 auto;
  box-sizing: border-box;
  padding: 13vh 0;

  h4 {
    font-size: 5vw;
    margin-bottom: 30px;
    text-align: center;
  }

  p {
    font-size: 3.5vw;
    text-align: center;
  }
}

//슬라이더 반응형

@media (max-width: 480px) {
  .story-box-slide {
    a {
      margin-top: 10px;
      font-size: 16px;
    }
  }

  .sbc-title {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .sbc-content {
    font-size: 18px;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .story-contents {
    margin-top: 0;
    padding-top: 25px;
  }

  .story-box-slide {
    width: auto;
    max-width: 98%;
    margin: 0 auto;
    padding: 30px;
  }

  .story-box.slick-current {
    .story-box-slide {
      height: 275px;
    }
  }

  .sbc-title {
    height: 52px;
    position: relative;
  }
}

// 기본 반응형

@media (min-width: 500px) {
  .last-box-text {
    padding: 8.4vh 0;
  }
}

@media (min-width: 768px) {
  .slick-arrow {
    display: block;
  }

  .last-box-text {
    h4 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .slick-arrow {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .last-box {
    height: 410px;
  }

  .last-box-text {
    padding: 121px 0;

    h4 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 1024px) {
  .slick-next {
    right: -60px;
  }

  .slick-prev {
    left: -60px;
  }
}

/* 상세보기 페이지 */

//상단 메인
.sub-main {
  width: 100%;
  height: 400px;
  padding-top: 90px;

  background-image: url(../img/sub-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.recruit-sm-bg {
  background-image: url(../recruit/img/recruit-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 40px;
}

.sub-menu {
  position: relative;
  top: 280px;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  z-index: 5;

  border-bottom: solid 1px $theme-color;

  a {
    width: 33.33%;
    padding: 20px 10px;
    background: #f2f2f2;
    text-align: center;
    font-size: 18px;

    &.active {
      background: $theme-color;
      color: #fff;
      font-weight: 500;
    }
  }
}

.sm-recruit {
  a {
    width: 25%;
  }
}

.sm-custom {
  a {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .recruit-sm-bg {
    background-position: 24% 48px;
  }
}
@media (max-width: 627px) {
  .sub-menu a {
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.detail-top-page {
  margin-top: 30px;
}

.detail-main {
  text-align: center;

  h4 {
    font-size: 5.4vw;

    padding: 2rem 0;
  }

  p {
    font-size: 4vw;
    line-height: 1.4;
    color: $border-color;
  }
}

.food101-detail {
  h2 {
    color: $theme-food101;
  }
}

.payeat-detail {
  h2 {
    color: $theme-color;
  }
}

.data101-detail {
  h2 {
    color: $theme-data101;
  }
}

.detail-title {
  text-align: center;

  max-width: 500px;
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem auto;

  &:after {
    content: "";
    width: 100px;
    height: 3px;
    background-color: #000;

    display: block;

    position: absolute;
    left: 50%;
    top: 200px;

    transform: translateX(-50%);
  }
}

.content-detail {
  width: 100%;
}

.content-detail-text {
  padding: 2rem 0.8rem;

  transform: translateY(-4rem);
  transition: all 0.8s;

  h3 {
    margin: 1.5rem 0;
  }

  ul {
    max-width: 500px;
    margin: 2rem auto;

    li {
      @extend %flex-start;

      padding: 0.8rem 0;

      line-height: 1.4;

      h4 {
        width: 106px;

        font-weight: bold;
        font-size: 3.8vw;

        margin-right: 0.5rem;
      }

      p {
        font-size: 3vw;
        color: $border-color;
      }
    }
  }
}

.detail-text-head {
  @extend %flex-start;

  height: 36px;

  h2 {
    font-size: 6vw;
    text-align: center;

    margin-left: 10px;

    font-weight: bold;
  }
  img {
    height: 36px;
  }
}

.content-detail-img {
  max-width: 400px;
  height: 124vw;

  margin: 0 auto;

  transform: translateY(-4rem);
  transition: all 1s;

  overflow: hidden;

  img {
    width: 100%;
  }
}

@media (min-width: 500px) {
  .detail-main {
    h4 {
      font-size: 1.7rem;
    }

    p {
      font-size: 1.26rem;
    }
  }

  .content-detail-text {
    h2 {
      font-size: 2rem;
    }

    h3 {
      text-align: center;
      line-height: 1.3;
    }

    ul {
      li {
        h4 {
          font-size: 1.3rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }

  .detail-text-head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
  }

  .content-detail-img {
    height: 630px;
  }
}

@media (min-width: 1024px) {
  .content-detail {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;

    padding-top: 5rem;
  }

  .content-detail-even {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;

    padding-top: 5rem;
  }

  .content-detail-text {
    h3,
    h2 {
      text-align: unset;
    }

    ul {
      margin: 2rem 0;
    }
  }

  .detail-text-head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  .content-detail-img {
    margin: 0;
  }
}

@media (min-width: 1300px) {
  .sub-menu {
    border-bottom: none;
  }
}

.service-prepare {
  width: 83vw;
  height: 50vh;
  background-image: url(../img/prepare.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

//food101 상세 페이지

/* footer */
.footer {
  width: 100%;
  padding: 0 15px 15px;
  text-align: center;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-family: "Noto Sans KR", sans-serif;
  color: $black;
}

.footer-web {
  box-sizing: border-box;
  padding: 10px 0;

  max-width: 500px;
  margin: 0 auto;
}

.footer-logo {
  width: 21%;
  height: 100%;
  display: none;
}
.footer-logo img {
  width: 110px;
}

.footer-contents {
  text-align: left;
  line-height: 1.5;
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 16px;
  margin-right: 15px;
}

.footer-cs {
  margin-top: 20px;
  line-height: 1.5;
  text-align: left;
}
.footer-cs p {
  font-size: 20px;
  font-weight: bold;
  color: $black;
}
.footer-cs ul {
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;

  margin: 10px 0;
}

.copyright {
  margin-top: 20px;
  padding-bottom: 15px;
  font-size: 12px;
  letter-spacing: 1px;
}

@media (min-width: 992px) {
  .footer {
    height: 290px;
  }

  .footer-web {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
    max-width: 1320px;
    height: 220px;
  }

  .footer-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    img {
      margin: 15px;
    }
  }

  .footer-contents {
    width: 42%;
  }

  .footer-cs {
    width: 20%;
  }
}
