$border: 1px solid rgb(221, 221, 221);

.flex-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.list-wrap {
  width: 100%;
  background-color: #fff;
}

.regi-tbl {
  border: 0;
  border-top: $border;
  width: 100%;

  tr {
    border-bottom: $border;
  }

  th {
    background-color: rgb(249, 249, 249);
    border-bottom: $border;
    padding: 15px 5px;

    font-weight: 700px;
  }

  td {
    padding: 7px 10px;
    border-bottom: $border;
    text-align: left;
  }

  input {
    border: $border;
    border-radius: 4px;
    height: 30px;
    padding: 5px 10px;
  }

  button {
    border: $border;
    background-color: #fff;
    padding: 6px 18px;
    border-radius: 4px;

    cursor: pointer;
  }
}

.bk-sel {
  width: 130px;
}

.popup-btn {
  display: inline-block;
  width: 150px;
  padding: 15px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  text-align: center;

  cursor: pointer;
}

.popup-btn.close {
  background: #eee;
  color: #555;
}

.search-head {
  font-weight: 700;
}

.top-bar {
  border-top: solid 1px #eee;
}

.ad_table2 {
  width: 50%;
  padding: 7px 10px;
  overflow: hidden;
}

.text-right {
  text-align: right;
}

.list_box {
  .table_line {
    .block-dp {
      display: block;
    }
  }
}

.review-comment {
  height: 200px;

  padding: 15px;
}
